mixin ul-ol(element)
  #{ element }(class!=attributes.class)
    li Popcorn
    li Jelly
    li Oat cakes

mixin ul-ol--inline(element)
  #{ element }(class!=attributes.class)
    li.bsk-list-inline-item Popcorn
    li.bsk-list-inline-item Jelly
    li.bsk-list-inline-item Oat cakes

mixin ul-ol--nested(element)
  #{ element }(class!=attributes.class)
    li Popcorn
    li Jelly
    li Oat cakes
    li Sesame snaps
      #{ element }
        li Chocolate cake
        li
          #{ element }
            li Sherbet
            li Toffee apples

mixin ul-ol--nested-inline(element)
  #{ element }(class!=attributes.class)
    li.bsk-list-inline-item Popcorn
    li.bsk-list-inline-item Jelly
    li.bsk-list-inline-item Oat cakes
    li.bsk-list-inline-item Sesame snaps
      #{ element }
        li Chocolate cake
        li
          #{ element }
            li Sherbet
            li Toffee apples

mixin ul-ol--nested-class(element)
  #{ element }(class!=attributes.class)
    li Popcorn
    li Jelly
    li Oat cakes
    li Sesame snaps
      #{ element }(class!=attributes.class)
        li Chocolate cake
        li
          #{ element }(class!=attributes.class)
            li Sherbet
            li Toffee apples

mixin ul-ol--nested-class-inline(element)
  #{ element }(class!=attributes.class)
    li.bsk-list-inline-item Popcorn
    li.bsk-list-inline-item Jelly
    li.bsk-list-inline-item Oat cakes
    li.bsk-list-inline-item Sesame snaps
      #{ element }(class!=attributes.class)
        li.bsk-list-inline-item Chocolate cake
        li.bsk-list-inline-item
          #{ element }(class!=attributes.class)
            li.bsk-list-inline-item Sherbet
            li.bsk-list-inline-item Toffee apples

mixin ul-ol--nested--mixed(element1, element2)
  #{ element1 }
    li Popcorn
    li Jelly
    li Oat cakes
    li Sesame snaps
      #{ element2 }
        li Chocolate cake
        li
          #{ element1 }
            li Sherbet
            li Toffee apples

mixin dl(element)
  dl(class!=attributes.class)
      dt Emperor Penguin
      dd Aptenodytes forsteri
      dt King Penguin
      dd Aptenodytes patagonicus
      dt Adelie Penguin
      dd Pygoscelis adeliae
      dt Chinstrap Penguin
      dd Pygoscelis antarctica
      dt Gentoo Penguin
      dd Pygoscelis papua
